.header {
    background-color: aqua;
}
#buttons li{
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    width: 200px;
    line-height: 60px;
}

#buttons li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: gold;
}

#title {
    color: gold;
    height: auto;
    width: 108px;
    display: block;
    padding: 10px;
    border: 5px solid black;
    margin-left: 300px;
    background-color: black;
}
